<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Wellcome! <%= id%> 번째 고객님!</h1>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore porro, ex ea consectetur autem nisi, doloribus est fugit natus dignissimos quos esse facere illum veritatis eveniet libero incidunt error deserunt!</p>

    <div><a href="/logout">logout</a></div>
    <script src="main.js"></script>
</body>
</html>